name: Release CLI

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Build Binaries
        run: |
          cd Deployer-cli
          CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o ../deployer-linux-amd64 main.go
          CGO_ENABLED=0 GOOS=linux GOARCH=arm64 go build -o ../deployer-linux-arm64 main.go
          CGO_ENABLED=0 GOOS=darwin GOARCH=amd64 go build -o ../deployer-darwin-amd64 main.go
          CGO_ENABLED=0 GOOS=darwin GOARCH=arm64 go build -o ../deployer-darwin-arm64 main.go

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            deployer-linux-amd64
            deployer-linux-arm64
            deployer-darwin-amd64
            deployer-darwin-arm64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
